* {
  font-family: 'Lucida Sans Unicode';
}
body {
  background-color: rgb(223, 223, 223);
  width: 900px;
  margin: 0 auto;
}
#marcofondo {
  border: 10px solid rgb(223, 223, 223);
  background-color: white;
}
#titulo {
  margin: auto;
  width: auto;
  text-align: center;
  color: rgb(95, 143, 17);
}

#titb {
  color: rgb(191, 130, 59);
}
#menu {
  float: left;
  margin-right: 2em;
}

#marcoprincipal {
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(223, 223, 223);
  display: grid;
}

h3 {
  color: #85b20a;
  border-bottom: 1px solid #85b20a;
  height: 24px;
}
h4 {
  color: rgb(191, 130, 59);
}
